*.csv
*.strings
*.lproj
.rbenv-version
*~
*#
*.gem
*.sublime-project
#*#
.csvconverter
coverage

# ignore Gemfile.lock as http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
# this should solve the fastercsv issue
Gemfile.lock